@import url("/_global.css");

.hc{
	height:500px;
}
.primary-color{
	color:#086375;
}
.secondary-color{
	color:#3AAED8;
}
.main-desc{
	font-size:1.2rem;
}
.load-screen{
	min-height:100vh;
}
.tool-card{
	height: 200px;
	width: 200px;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px;

}

#mytools > .row .col-12:nth-child(1) {
	background: rgb(77,27,152);
    background: linear-gradient(90deg, rgba(77,27,152,1) 0%, rgba(130,51,226,1) 34%, rgba(113,22,143,1) 89%);
}