/*helper classes*/

body {

    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.hc {
    min-height: 500px;
}

.primary-color {
    color: #086375;
}

.secondary-color {
    color: #3AAED8;
}

/*load screen style*/
.title-font {
    font-family: 'Roboto', sans-serif;
}

.body-font {
    font-family: 'PT Serif', serif;
}

.intro-desc {
    font-size: 2.1rem;
    font-weight: bold;
}

.main-desc {
    font-size: 1.3rem;
}

.sub-text {
    font-size: 1.2rem;
}

.intro-nav {
    min-height: 100vh;
}

.load-screen h1 {
    margin-top: 3rem;
}

.load-screen p {
    line-height: 1.6rem;
}

#intro-image {
    width: 600px;
    height: auto;
    /*    margin-top: 100px;*/

}

.load-screen-bg {
    height: 250px;
    position: absolute;
    bottom: 0;
}

/*navbar section start*/
.nav-bg {
    background: linear-gradient(90deg, rgba(77, 27, 152, 1) 0%, rgba(130, 51, 226, 1) 34%, rgba(113, 22, 143, 1) 89%);
}

.logo-navbar {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.navbar-toggler {
    border: 1px solid white !important;
}

.navbar-toggler:hover {
    background-color: antiquewhite !important;

}

#navbarNav ul .active a {
    color: rgba(58, 174, 216, 0.9) !important;
}

#navbarNav ul {
    margin-right: 20px;
}

#navbarNav ul a {
    margin-right: 20px;
    padding-right: 25px;
    font-size: 1.3rem;
    color: white;
}


#navbarNav ul a:hover {
    border-bottom: none;
    color: rgba(58, 174, 216, 0.9) !important;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(58, 174, 216, 0.7);
}

/*navbar section end*/

/* Start About Area */


.about-area .about-title h1 {
    display: block;
    font-family: 'Roboto', cursive;
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 21px;
}

.about-image img {
    width: 85% !important;
    height: auto;

}


.mybtn-down {
    padding: .4rem .4rem;
    margin-left: 25px;
}

.mtbtn-down:hover {
    color: color: rgba(58, 174, 216, 0.7) !important;
}

/* End About Area */

/* Project Area */

.project-area {
    padding: 4rem 0;
}

.project-area .grid .our-project > .title h4 {
    font: normal 700 25px/12px 'Roboto', cursive;
}

.project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

/* End Project Area */

/*Skills section style*/

.tool-card {
    height: 140px;
    width: 140px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
    border-radius: 15px;
}

.tool-card {
    transition: all .2s ease-in-out;
}


.tool-card:hover {
    transform: scale(1.1);

}

#mytools > .row .col-12:nth-child(1) {
    background: rgb(77, 27, 152);
    background: linear-gradient(90deg, rgba(77, 27, 152, 1) 0%, rgba(130, 51, 226, 1) 34%, rgba(113, 22, 143, 1) 89%);
}


/*=====contact section=====*/
/*
.custom-input:focus {
    border-style: none;
    border-color: none;
    box-shadow: none;
}
*/

.mycontact-bg {
    background-color: #252934;
    height: 400px;
}

.mycontact {
    padding-top: 50px;
}

#formbox input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color none;
}

#formbox textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color none;
}

/*====contact section end===*/
/* Footer Area  */

.footer-area {
    min-height: 65vh !important;
}

footer.footer-area {
    padding: 5rem 0;
}

.bg-footer {
    background: linear-gradient(90deg, rgba(77, 27, 152, 1) 0%, rgba(130, 51, 226, 1) 34%, rgba(113, 22, 143, 1) 89%);
}

footer.footer-area .social h5 {
    font: normal 500 23px/ 30px 'Roboto', cursive;
}

footer.footer-area .social a > i {
    font-size: 30px;
    padding: 2rem;
    color: #1f1f17;
}

footer.footer-area .social a:hover > i {
    color: #4458dc;
}

/*scroll-top*/

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 5px;
    background-color: #DDD;
    color: #000;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    background-color: #DDF;
    color: rgb(77, 27, 152);
}

/*scroll-top*/
/* End Footer  


/*Media queries*/

@media only screen and (min-width: 576px) {



    .tool-card {
        height: 180px;
        width: 200px;

    }


    .about-area {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .about-us {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    #mytools div col-sm-12 {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .about-area .about-title .paragraph > p {
        width: 100%;

        padding: .4rem 0;
    }




}

@media only screen and (min-width: 992px) {
    .mynav-fix {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }

    #navbarNav ul a:hover {
        border-bottom: 1px solid white;
        color: rgba(58, 174, 216, 0.9) !important;
    }

    #navbarNav ul a {
        margin-left: 30px;
    }

    .load-screen h1 {
        font-size: 3rem;
    }

    #intro-image {
        width: 600px;
        height: auto;
        margin-top: 170px;
    }

    .about-area .about-title {
        width: 75%;
        justify-content: center;
    }

    .about-area .about-title h1 {
        margin-left: 2.7rem !important;
    }

    .about-image .mx-auto {
        margin-top: 35px;
    }

    .about-area .about-title .paragraph > p {
        width: 90%;
        margin-left: 25px;
        padding: .4rem 0;
    }

    .mybtn-down {

        margin-left: 50px !important;

    }

    .tools-padding {
        padding-top: 25px !important;
    }

    .skills-head {
        font-size: 2.2rem !important;
    }

    #mytools div:nth-child(4) {
        padding-top: 17px;
    }

    #mytools div:nth-child(5) {
        padding-top: 17px;
    }

    #mytools div:nth-child(6) {
        padding-top: 17px;
    }

    .tool-card {
        background-size: 155px;

    }

    .footer-area {
        min-height: 45vh !important;
    }

}